<ng-form name="myForm" class="my-form">
    <p>
        userType: <input name="input" ng-model="userType" required>
        <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    </p>
    <p>
        userName: <input name="input" ng-model="userName" required>
        <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
    </p>
    userType = {{userType}}<br>
    userName = {{userName}}<br>
    myForm.input.$valid = {{myForm.input.$valid}}<br>
    myForm.input.$error = {{myForm.input.$error}}<br>
    myForm.$valid = {{myForm.$valid}}<br>
    myForm.$error.required = {{!!myForm.$error.required}}<br>
    <button type="submit" ng-click="push()">Submit</button>
</ng-form>
