<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Demo Math</title>
</head>
<body>
<div ng-app="hrApp">
<div ng-controller="DemoController">
    <p>
        Number A: <input type="number" ng-model="numberA"/>
    </p>
    <p>
        Number B: <input type="number" ng-model="numberB"/>
    </p>
    <p>
        Adunare: {{numberA + numberB}}
    </p>
    <p>
        Scadere: {{numberA - numberB}}
    </p>
    <p>
        Inmultire: {{numberA * numberB}}
    </p>
    <p>
        Impartire: {{numberA / numberB}}
    </p>
</div>
    </div>
<script type="text/javascript" src="bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/DemoController.js"></script>
</body>
</html>